* {
  margin: 0;
  padding: 0;
}

.friendList {
  display: flex;
  flex-direction: column;
  margin: 80px;
  width: 250px;
}
.item {
  display: flex;
  list-style: none;
  height: 70px;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 5px 5px 0 0 gainsboro;
}
.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.avatar {
  border-radius: 5px;
}
.name {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
}

.status,
.avatar,
.name {
  margin-left: 10px;
}
